* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* cursor: none; */
}
:root{
	/* info文字颜色 */
	--color1: #0b3954;
	--color2: #bfd7ea;
	/* infoclose颜色 */
	--color3: #2e7fb0;
	--color4: #c1e4e9;
	--color5: #4196a7;
	/* 背景层颜色 */
	--color6: #98b7d6;
	/* bgcircle */
	--color7: #dfeef6;
	/* poster卡片颜色 */
	--color8: #1e638d;
	/* 下一张卡片颜色 */
	--color9: #82a7af;
	/* span2颜色（color1的减淡） */
	--color10: #23668d;
	/* 下一轮卡片颜色(下一轮color8) */
	--nextcardcolor: #789d6f;
	--knob: #448aca;
	--poster: url('../images/tubomi.jpg');
	--poster2: url('../images/lemon.jpg');
	--bg: url(../images/tubomibg.jpg);
	--nextbg: none;
	--nextbgcover: none;
	--wave1: url(../images/waveblue1.svg);
	--wave2: url(../images/waveblue2.svg);
}
html,body {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden
}
.cursorWrapper {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #fff;
	top: 0;
	left: 0;
	transform: translate(-50%,-50%);
	transition: width 0.5s,height 0.5s,background-color 0.5s,border 0.5s,cursor 0.5s,transform 1s;
	z-index: 999;
	/* 太重要了！ */
	pointer-events:none
}
.cursorWrapper .cross {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 12px;
	height: 2px;
	background-color:var(--color3);
	display: none;
	transition: all 1s
}
.cursorWrapper .cross.change::after {
	content: "";
	width: 12px;
	height: 2px;
	background-color: var(--color3);
	transform: rotate(90deg);
	position: absolute;
	top: 0;
	left: 0px;
	display: block;
	transition: transform 1s
}
#morph {

	width: 1920px;
	height: 1080px;
	position: absolute;
	pointer-events: none;
	left: -120px;
	top: -85px;
	opacity: 0;
	transform: opacity 0.5s
}
#morph .morph {
	fill: var(--color9)
}

canvas#noise {
	height: 100%;
	width: 100%;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.05;
	border-radius: 50px
}
.bg,.bg2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: var(--bg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom center;
	z-index: -999

}
.bg2 {
	background-image: var(--nextbg);
	transition: opacity 0.5s
}
a {
	text-decoration: none;
	white-space:nowrap;
	/* cursor: default */
} 
.bgcover,.bgcover2 {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--color6);
	opacity: 0.59;
	/* transition: opacity 1s; */
	/* visibility: visible !important; */
}
.bgcover2 {
	background-color: var(--nextbgcover);
}
.logo {
	position: absolute;
	left: 7%;
	top: 7%;
	width: 90px;
	height: 90px;
	/* border: 1px solid #000; */
	background: url('../images/logo.png') 2px no-repeat;
	background-size: 95%;
	z-index: 1
}
.main {
	width: 64%;
	height: 66%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 9px 14px 17px 5px rgba(0,0,0,0.3)
}
/* .main .cover {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	border: 1px solid orange;
	z-index: 3;
	overflow: hidden;
	pointer-events: none
	
}
.cover .coverall {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: black;
	animation: cover 2s both;
} */
@keyframes cover {
	0%{
		left: 0;
		width: 0;
	}
	50%{
		left: 0;
		width: 100%;
	}
	100%{
		left: 100%;
		width: 0;
	}	
}
.bgpics {
	position: relative;
	/* border: 1px solid red; */
	width: 50%;	
	height: 100%;
	overflow: hidden;
	border-radius: 50px;
	z-index: -2
	
}
.bgpics .bgcircle {
	width: 630px;
	height: 630px;
	border-radius: 50%;
	background-color: var(--color7);
	/* background-color: #000; */
	position: absolute;
	left: -180px;
	top: -270px;
	transition: background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
}
.bgpics #bgprofile {
	position: absolute;
	/* border: 1px solid green; */
	width: 590px;
	/* height: 100px; */
	top: -84px;
	left: -150px;
	opacity: 1;
	-webkit-mask-image: url("../images/profilemask.png");
  	-webkit-mask-mode: alpha;
  	-webkit-mask-repeat: no-repeat;
  	-webkit-mask-size: 105%;
  	-webkit-mask-position: -25px -175px;

}
.tag {
	position: absolute;
	top: 35px;
	left: -13px;
	transform-origin: 10% 50%;
	/* border: 1px solid #000; */
	width: 165px;
	height: 40px;
	transition:background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97) ;
}
.tagtop {
	position: absolute;
	left:0;
	top: 0;
	width: 160px;
	height: 35px;
	background-color: var(--color3);
	border-radius: 50px 10px 10px 50px;
	font-size: 22px;
	font-family: "Krungthep";
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 35px;
	letter-spacing: 4px;
	padding-left: 25px;
	transition:background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97) ;
	
}
.tagbottom {
	position: absolute;
	left: 2px;
	top:2px;
	width: 162px;
	height: 36px;
	background-color: var(--color1);
	border-radius: 50px 10px 10px 50px;
	z-index: -1;
	transition:background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97) ;
}

.tagcircle {
	width: 14px;
	height: 14px;
	position: absolute;
	left: 6px;
	top: 10px;
	border-radius: 50%;
	z-index: 1;
	
	background-color: #fff;
	/* border: 3px solid #000; */
}
.musiccard{
	position: absolute;
	width: 450px;
	height: 100%;
	/* position: absolute; */
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/* border: 1px solid #000; */
	/* z-index: -1 */


}

.musiccard .poster{
	width: 420px;
	height: 420px;
	position:absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	border: 20px solid var(--color8);
	border-radius: 40px;
	background: var(--poster);
	background-size: 110%;
	background-position: 60% 50%;
	transition: border 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
	
}
.musiccard::after {
	content: "";
	width: 420px;
	height: 420px;
	position: absolute;
	top: 80px;
	left: 50%;
	border: 20px solid var(--color9);
	/* background-color: var(--color9); */
	transition: border 1.5s cubic-bezier(0.71,0.12,0.34,0.97);
	border-radius: 40px;
	z-index:-1;
	transform-origin: 50% 50%;
	transform: translateX(-50.5%) rotate(-3.5deg);
	box-sizing: border-box;
	background: var(--poster2);
	background-size: 110%;
	background-position: 60% 50%;
}

.musiccard #recorder {
	position: absolute;
	width: 92px;
	height: 92px;
	/* border: 1px solid #000; */
	top: 450px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1
	
}
#recordcb {
	display: inline-block;
	position: absolute;
	width: 110px;
	height: 110px;
	/* border: 1px solid #000; */
	top: 460px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid yellow;
	z-index: 999;
	display: none
}
label {
	position: absolute;
	width: 110px;
	height: 110px;
	/* border: 1px solid #000; */
	top: 460px;
	left: 50%;
	transform: translateX(-50%);
	/* border: 1px solid red; */
	z-index: 999
}
#recorder .record{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	/* border: 12px solid var(--color1); */
	box-shadow: 0px 0px 0px 1px #fff,
	0px 0px 0px 8px #000;
	background: #000;
	transition: rotate 1s;

}
#recorder .record::after{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/reflect.png');
	background-size: cover;
	position: fixed;
	right: 13px;
	top: 13px;
	/* border: 1px solid red; */
	transition: rotate 1s;
	opacity: 1	

}
input[type=checkbox]:checked + #recorder .record::after {
	transform-origin: -13px 32px;
	animation: record_rotate 4s linear infinite ;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-delay: 0.5s;
	transition: all 1s;
}
/* input[type=checkbox]:checked + #recorder .record {
	transform-origin: -8px 36px;
	animation: record_rotate infinite 4s linear ;
	animation-fill-mode: both;
	transition: all 1s
} */
@keyframes record_rotate {
	0% {
		transform: rotate(0deg)
	}
	20% {
		transform: rotate(72deg)
	}
	40% {
		transform: rotate(144deg)
	}
	60% {
		transform: rotate(216deg)
	}
	80% {
		transform: rotate(288deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

#recorder .needle {
	/* border: 1px solid orange; */
	position: absolute;
	height: 4px;
	width: 56px;
	top: 34px;
	left: 42px;
	background-color: var(--color2);
	transform-origin: 100% 0;
	transform: rotate(-68deg);
	transition: background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
	
}
#recorder .needle::before{
	content: "";
	width: 15px;
	height: 10px;
	position: absolute;
	top: -3px;
	background-color: var(--color2);
	border-radius: 3px;
	transition: background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
}
#recorder .needle::after {
	content: "";
	position: absolute;
	top: -2px;
	left: 5px;
	width:0px;
	height:0px;
	border-top: 15px solid var(--color2);
	border-right:2px solid transparent;
	border-bottom:0px solid transparent;
	border-left:2px solid transparent;
	transition: border 1.5s cubic-bezier(0.71,0.12,0.34,0.97)

}
input[type=checkbox]:checked + #recorder .needle {
	animation: needle_rotate 75s linear 10 ;
	/* animation-fill-mode: both; */
	-webkit-animation-fill-mode: both;
	/* transition: rotate 1s */
}
@keyframes needle_rotate {
	0% {
		transform: rotate(-68deg)
	}
	1% {
		transform: rotate(-51deg)
	}
	100%{
		transform: rotate(-46deg)
	}
	

}

#recorder .circle {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border: 11px solid var(--color2);
	transition: border 1.5s cubic-bezier(0.71,0.12,0.34,0.97)

}
.lyrics {
	position: absolute;
	/* border: 1px solid #000; */
	width: 324px;
	height: 150px;
	left: 0px;	
	top: 380px;	
}
.lyric-hidden {
	display: none
}


#lyric-2,#lyric-2-blur {
	/* display: block; */
	font-size: 16px;
	width: 100%;
	color: var(--color3);
	font-family: "kozuka medium";
	/* padding-left: 130px; */
	position: absolute;
	top: 55px;
	transition: opacity 0.5s;
	opacity: 0;
	transform-origin: center bottom;
	text-align: center;
	/* border: 1px solid red; */
}
#lyric-2-blur {
	/* opacity: 0.8; */
	filter: url(#blur);
	font-weight: lighter
}

#lyric-2.jump {
	/* width: 0; */
	display: inline-block;
	position: absolute;
	left: 10%;
	top: 30%;
	/* transform: translate(-50%, -50%) */
}
#lyric-2.jump span{
	display: inline-block;
	/* margin: 2px; */
	padding: 1px;
	background:  none;
	/* letter-spacing: -1px */
	animation: wordjump 4.5s  infinite step-end 
}


@keyframes wordjump {
	0% {
		transform: translate(2px, 1px) rotate(1deg)
	}
	5% {
		transform: translate(1px, -1px) rotate(-2deg)
	}
	10% {
		transform: translate(-1px, 1px) rotate(10deg)
	}
	15% {
		transform: translate(1px, -3px) rotate(12deg)
	}
	20% {
		transform: translate(3px, -1px) rotate(10deg)
	}
	25% {
		transform: translate(-1px, 3px) rotate(-1deg)
	}
	30% {
		transform: translate(1px, -2px) rotate(11deg)
	}
	35% {
		transform: translate(-4px, 2px) rotate(-5deg)
	}
	40% {
		transform: translate(-1px, 0px) rotate(10deg)
	}
	45% {
		transform: translate(2px, -1px) rotate(5deg)
	}
	50% {
		transform: translate(1px, -2px) rotate(-11deg)
	}
	55% {
		transform: translate(3px, 0px) rotate(0deg)
	}
	60% {
		transform: translate(1px, 0px) rotate(7deg)
	}
	65% {
		transform: translate(-1px, -3px) rotate(0deg)
	}
	70% {
		transform: translate(-3px, 1px) rotate(-12deg)
	}
	75% {
		transform: translate(1px, -3px) rotate(13deg)
	}
	80% {
		transform: translate(3px, -1px) rotate(0deg)
	}
	85% {
		transform: translate(1px, -1px) rotate(11deg)
	}
	90% {
		transform: translate(-1px, 1px) rotate(2deg)
	}
	95% {
		transform: translate(1px, 0px) rotate(-17deg)
	}
	100% {
		transform: translate(-2px, 0px) rotate(10deg)
	}
} 


.keywords {
	position: absolute;
	right: -76px;
	/* border: 1px solid #000; */
	top: 85px;
	height: 435px;
	width: 380px;
	z-index: -1
	/* border-radius: 50%	 */
}

.keywords .title {
	font-size: 65px;
	font-family: "Aozora Mincho Thin";
	position: absolute;
	left: 45%;
	bottom: 2%;
	font-weight:500;
	transform: translateX(-50%);
	color: var(--color3);
	text-shadow: 0 0 1px var(--color3);

}
.title::after{
	content: "";
	width: 55px;
	height: 55px;
	background-color: var(--color2);
	border-radius: 50%;
	position: absolute;
	top: 13px;
	left: 16px;
	z-index: -1;
	transition: background-color 1.2s cubic-bezier(0.71,0.12,0.34,0.97)

}
.keyworddiv {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 80px;
	/* border: 1px solid red; */
	z-index: 0
	/* transition: all 1s linear */
}

.keyworda {
	display: inline-block;
	padding: 10px;
	font-size: 14.5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	text-shadow: 0 0 1px var(--color3);

}

.keywords .keyword-1 {
	font-family: "YuKyokasho Yoko";
	color: var(--color3);
} 
.keywords .keyworddiv-1 {
	left: -13%;
	top: -2%;
	transform: translate3d(0, 0, -100px)
}
.keywords .keyword-2{
	font-family: "Tsukushi B Round Gothic";
	color: var(--color3);
}
.keywords .keyworddiv-2 {
	right: 18%;
	top: 1%;
	transform: translate3d(0, 0, 200px)
}
.keywords .keyword-3{
	font-family: "Tsukushi B Round Gothic";
	color: var(--color1);
} 
.keywords .keyworddiv-3{
	left: -3%;
	top: 35%;
	transform: translate3d(0, 0, -200px)
}
.keywords .keyword-4{
	font-family: "YuKyokasho Yoko";
	color: var(--color1);
} 
.keywords .keyworddiv-4 {
	right: -8%;
	top: 31%;
	transform: translate3d(0, 0, -105px)
}
.keywords .keyword-5{
	font-family: "Hiragino Mincho ProN";
	color: var(--color5);
} 
.keywords .keyworddiv-5 {
	left: 34%;
	top: 58%;
	transform: translate3d(0, 0, 50px)
}

.keyworda p::after {
	content: "";
	width: 13px;
	height: 13px;
	background-color: var(--color4);
	opacity: 0.7;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	transition: all 1.3s ease-out;
	
	
}
.keyworda p {
	animation-name: keymove;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	/* transition: color 1.5s cubic-bezier(0.71,0.12,0.34,0.97) */
}
@keyframes keymove {
	0% {
		transform: translateY(0px )
	}
	50% {
		transform: translateY(5px )
	}
	100% {
		transform: translateY(0px )
	}
}
.keyworda:hover p::after {
	width: 100%;
	height: 100%;
	padding:3px 12px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--color2);
	transition: all 0.2s;
	box-shadow: 2px 3px 1px var(--color1);
	/* animation: none */
	/* border: 3px solid var(--color1); */

}

.keyworda:hover p {
	color: white;
	font-weight: bold
}
.keyinfo {
	/* position: relative; */
	width: 500px;
	height: 100%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/* border: 1px solid red; */
	/* border: 1px solid #000; */
	/* z-index: -1 */
	display: none;
}

.keyinfodiv {
	width: 380px;
	height: 380px;
	position:fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 21px;
	background-size: 110%;
	background-position: bottom center;

	e
}
.keyinfodiv h3 {
	display: inline-block;
	font-family: "YuKyokasho Yoko";
	padding: 22px 0px 0px 25px;
	font-size: 32px;
	color: var(--color1);
	text-shadow: 1px 1px 0px var(--color2),
	2px 2px 0px var(--color5);
	opacity: 0
}
.keyinfodiv h5 {
	width: 300px;
	margin:25px auto;
	line-height: 40px;
	font-family: "kozuka medium";
	letter-spacing: 2px;
	opacity: 0;
	color: var(--color1);
	/* animation:  */
}
/* .keyinfo em.point {
	font-style: normal;
	display: inline-block;
	font-size: 18px;
	color: #a85981;
} */
.keyinfodiv-bottom{
	/* animation:keyinfo_unfold 5s linear both; */
	/* background-color: #fff */
}
.closesvg {
	width: 40px;
	height: 40px;
}
#close {
	position: absolute;
	top: 123px;
	right: 83px;
	background-image: url('../images/close_in.svg');
	animation-duration: 2000ms;
  	animation-timing-function: steps(120);
  	width: 35px;
  	height: 35px;
  	background-repeat: no-repeat;
  	background-color: #fff;
  	background-size: cover;
  	z-index: 999;
  	transition: width 0.5s,height 0.5s;
  	display: none;
  	opacity: 0;
  	animation-fill-mode: both;
  	fill: #5f8258;
}

@keyframes play_in{
  0% {
    background-position: 0px 0px;
  }
  100% {
  	/* 8400*35/70 */
    background-position: -4200px 0px;
  }
}
@keyframes play_out{
  0% {
    background-position: 0px 0px;
  }
  100% {
  	/* 8400*35/70 */
    background-position: -4200px 0px;
  }
}
@keyframes play_out_reverse{
  0% {
  	/* 8400*35/70 */
    background-position: -4200px 0px;
  }
  100% {
  	 background-position: 0px 0px;
  }
}

/* 用mask可以！但是不能直接套用，得先看透明度 */

/* #close {
	position: absolute;
	top: 123px;
	right: 83px;
	mask: url('../images/close_in.svg') no-repeat 100% 100%;
	mask-image: url('../images/close_in.svg');
  	-webkit-mask-size: cover;
  	mask-size: cover;
	animation-duration: 2000ms;
  	animation-timing-function: steps(120);
  	width: 35px;
  	height: 35px;
  	z-index: 999;
  	transition: width 0.5s,height 0.5s;
  	display: none;
  	opacity: 0;
  	animation-fill-mode: both;
  	background-color: #000;
} */
/* @keyframes play_in{
  0% {
    -webkit-mask-position: 0px 0px;
  }
  100% {
    -webkit-mask-position: -4200px 0px;
  }
}
@keyframes play_out{
  0% {
    -webkit-mask-position: 0px 0px;
  }
  100% {
    -webkit-mask-position: -4200px 0px;
  }
}
@keyframes play_out_reverse{
  0% {
    -webkit-mask-position: -4200px 0px;
  }
  100% {
  	 -webkit-mask-position: 0px 0px;
  }
} */


@keyframes keyinfo_unfold {
	0%{
		clip-path: inset(0 100% 40% 0);
		animation-timing-function: cubic-bezier(.68,0,.32,.99)
	}
	15%{
		clip-path: inset(0 0 78% 0);
	}
	20%{
		clip-path: inset(0 0 78% 0);
		animation-timing-function:cubic-bezier(.17,.85,0,1)
	}
	80%{
		clip-path: inset(0 0 0 0);
	}
}
@keyframes keyinfo_unfold_reverse {
	20%{
		clip-path: inset(0 0 0 0);
	}
	80 %{
		clip-path: inset(0 0 78% 0);
		animation-timing-function:cubic-bezier(.17,.85,0,1)
	}
	85%{
		
		clip-path: inset(0 0 78% 0);
	}
	100%{
		
		clip-path: inset(0 100% 40% 0);
		animation-timing-function: cubic-bezier(.68,0,.32,.99)
	}
}



.ocean { 
 	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	/* border: 1px solid #000; */
	border-radius: 0 0 50px 50px;
	overflow: hidden;
	z-index: -999
}

.wave {
  background: var(--wave1) repeat-x; 
  position: absolute;
  top: 30%;
  width: 300%;
  height: 90%;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-child(1) {
  top: 35%;
  animation: wave 18s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 20s ease -1.25s infinite;
  opacity: 1;
}
.wave:nth-child(2) {
	background: var(--wave2) repeat-x; 
  top: 35%;
  animation: wave 18s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 15s ease -1.25s infinite;
  animation-delay: -9s;
  opacity: 1;
}


@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  20% {
    transform: translate3d(0,15px,0);
  }
  40% {
    transform: translate3d(0,5px,0);
  }
  60% {
    transform: translate3d(0,-15px,0);
  }
  80% {
    transform: translate3d(0,-5px,0);
  }
  
}


.pagenum {
	position: absolute;
	left: 30px;
	bottom: 30px;
	color: #fff;
	font-size: 10px;
	/* border: 1px solid #000; */
	font-family: "Ayuthaya"
}
span#line {
	width: 65px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 25px;
	top: 10px;
}


@font-face{
     font-family: 'Aozora Mincho Thin'; 
     src: url('../font/Aozora Mincho thin.ttf') format('truetype');
}
@font-face{
     font-family: 'kumamoto'; 
     src: url('../font/kumamoto.otf') format('opentype');
}
@font-face{
     font-family: 'kozuka medium'; 
     src: url('../font/KozMinPro-Medium.otf') format('opentype');
}

/* rangeslide */
	#dragnav {
		/* border: 1px solid red; */
		display: inline-block;
		width: 900px;
		height: 100px;
		position: absolute;
		top: 4%;
		left: 50%;
		transform: translate(-11%,25%);
		z-index: 999
	}
	#dragpath {
		/* border: 1px solid yellow; */
		display: inline-block;
		/* border: 1px solid #fff; */
	}

	svg{
		/* border: 1px solid #fff; */
		width: 900px;
		height: 100px;
		position:absolute; 
		left:0; 
		top: -10px;
	}

	
	svg .knob {
		width: 100px;
		height: 100px;
		fill: var(--knob);
		/* border: 1px solid #000; */
		box-shadow: 1px 1px 0 #fff;
		/* filter: drop-shadow(red 80px 0) */
		filter: url(#dropshadow);
		transition: fill 1.5s cubic-bezier(0.71,0.12,0.34,0.97);

	}
	#lfknob {
		width: 60px;
		height: 60px;
		position: absolute;
		/* border: 1px solid blue; */
		top: 12px;
		left: 25px;
		transform: translate(393px, -32px)
		/* top: -10px; */
		/* left: 470px; */
	}
	#dragspan {
		/* border: 1px solid green; */
		display: inline-block;
		position: absolute;
		left: 19px;
		top: 52px;
		/* z-index: 999 */

	}
	#dragnav img {
		position: absolute;
		left: 16px;
		top: 0;
		width:665px;
		/* height: 100%; */
		z-index: 999;
		opacity: 0.6
	}
	div.drag {
		width: 84px;
		/* border: 1px solid #fff; */
		float: left;
	}


	span {
		float: left;
		display: inline-block;
		width: 5px;
		height:30px;
		margin-right: 6px;
		margin-left:5px;
		background-color: #fff;
		border-radius: 2px;
		/* transition: transform 0.5s */
		/* transition: transform 0.5s */
		transition: all 1s ease;
		/* display: inline-block; */
		transition: background-color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
	}
	
	div.drag span:first-child {
		margin-left: 3px;
		width: 8px;
		height: 45px;
		border-radius: 6px;
		background-color: var(--color4);
	}
	div.drag span:nth-child(2){
		background-color: var(--color10);
	}
	div.drag span:nth-child(3){
		background-color: var(--color2);
	}
	div.drag span:nth-child(4){
		background-color: var(--color3);
	}
	div.drag span:nth-child(5){
		background-color: var(--color5);
	}
	
	
	#dragspan #lastspan {
		margin-left: 3px;
		width: 8px;
		height: 45px;
		margin-top:55px;
		border-radius: 6px;
		background-color: var(--color4);
	}


/* team 1 */
	div.drag:nth-child(1) span:nth-child(1){
		margin-top:23px
	}
	div.drag:nth-child(1) span:nth-child(2){
		margin-top:34px
	}
	div.drag:nth-child(1) span:nth-child(3){
		margin-top:33px
	}
	div.drag:nth-child(1) span:nth-child(4){
		margin-top:34px
	}
	div.drag:nth-child(1) span:nth-child(5){
		margin-top:22px
	}
	/* team 2 */
	div.drag:nth-child(2) span:nth-child(1){
		margin-top:7px
	}
	div.drag:nth-child(2) span:nth-child(2){
		margin-top:18px
	}
	div.drag:nth-child(2) span:nth-child(3){
		margin-top:18px
	}
	div.drag:nth-child(2) span:nth-child(4){
		margin-top:30px
	}
	div.drag:nth-child(2) span:nth-child(5){
		margin-top:24px
	}
	/* team 3 */
	div.drag:nth-child(3) span:nth-child(1){
		margin-top:11px
	}
	div.drag:nth-child(3) span:nth-child(2){
		margin-top:23px
	}
	div.drag:nth-child(3) span:nth-child(3){
		margin-top:29px
	}
	div.drag:nth-child(3) span:nth-child(4){
		margin-top:33px
	}
	div.drag:nth-child(3) span:nth-child(5){
		margin-top:32px
	}
	/* team 4 */
	div.drag:nth-child(4) span:nth-child(1){
		margin-top:22px
	}
	div.drag:nth-child(4) span:nth-child(2){
		margin-top:26px
	}
	div.drag:nth-child(4) span:nth-child(3){
		margin-top:32px
	}
	div.drag:nth-child(4) span:nth-child(4){
		margin-top:34px
	}
	div.drag:nth-child(4) span:nth-child(5){
		margin-top:36px
	}
	/* team 5 */
	div.drag:nth-child(5) span:nth-child(1){
		margin-top:32px
	}
	div.drag:nth-child(5) span:nth-child(2){
		margin-top:30px
	}
	div.drag:nth-child(5) span:nth-child(3){
		margin-top:24px
	}
	div.drag:nth-child(5) span:nth-child(4){
		margin-top:18px
	}
	div.drag:nth-child(5) span:nth-child(5){
		margin-top:16px
	}
	/* team 6 */
	div.drag:nth-child(6) span:nth-child(1){
		margin-top:2px
	}
	div.drag:nth-child(6) span:nth-child(2){
		margin-top:10px
	}
	div.drag:nth-child(6) span:nth-child(3){
		margin-top:17px
	}
	div.drag:nth-child(6) span:nth-child(4){
		margin-top:21px
	}
	div.drag:nth-child(6) span:nth-child(5){
		margin-top:26px
	}
	/* team 7 */
	div.drag:nth-child(7) span:nth-child(1){
		margin-top:23px
	}
	div.drag:nth-child(7) span:nth-child(2){
		margin-top:26px
	}
	div.drag:nth-child(7) span:nth-child(3){
		margin-top:23px
	}
	div.drag:nth-child(7) span:nth-child(4){
		margin-top:20px
	}
	div.drag:nth-child(7) span:nth-child(5){
		margin-top:20px
	}
	/* team 8 */
	div.drag:nth-child(8) span:nth-child(1){
		margin-top:15px
	}
	div.drag:nth-child(8) span:nth-child(2){
		margin-top:32px
	}
	div.drag:nth-child(8) span:nth-child(3){
		margin-top:45px
	}
	div.drag:nth-child(8) span:nth-child(4){
		margin-top:53px
	}
	div.drag:nth-child(8) span:nth-child(5){
		margin-top:50px
	}
	/* team 9 */
	div.drag:nth-child(9) span:nth-child(1){
		margin-top:43px
	}
	div.drag:nth-child(9) span:nth-child(2){
		margin-top:42px
	}
	div.drag:nth-child(9) span:nth-child(3){
		margin-top:40px
	}
	div.drag:nth-child(9) span:nth-child(4){
		margin-top:40px
	}
	div.drag:nth-child(9) span:nth-child(5){
		margin-top:50px
	}
	div.drag span.addnum::after {
		content: attr(data-attr);
		/* background-color: red; */
		font-family: "Ayuthaya";
		font-size: 14px;
		position: absolute;
		color: var(--color3);
		text-shadow: 0 0 2px var(--color3);
		left: -16px;
		top: 60px;
		font-weight: lighter;
		letter-spacing: 2px;
		transform-origin: center bottom;
		animation: addnum 6s ease-in both;
    	transition: color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
		
	}

	@keyframes addnum {
		0% {
			opacity: 0;
			transform: scaleY(0.9)
		}
		15% {
			opacity: 1;
			transform: scaleY(1)
		}
		93% {
			opacity: 1;
			transform: scaleY(1)
		}
		100%{
			opacity: 0;
			transform: scaleY(0.9)
		}
	}


	#lastspan.addnum::after{
		content: attr(data-attr);
		font-family: "Ayuthaya";
		font-size: 14px;
		position: absolute;
		color: var(--color3);
		text-shadow: 0 0 2px var(--color3);
		left: -14px;
		top: 60px;
		font-weight: lighter;
		letter-spacing: 2px;
		transition: color 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
	
	}


.maintrans {
	width: 64%;
	height: 66%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
	pointer-events: none;
	/* display: none; */
	/* border: 1px solid #000; */
}
.maintrans .musiccardtrans {
	position: absolute;
	width: 450px;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	/* display: none; */
}
.maintrans .postertrans {
	width: 420px;
	height: 420px;
	position:absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	background-image: var(--poster2);
	border: 20px solid var(--nextcardcolor);
	background-size: 110%;
	background-position: 60% 50%;
	border-radius: 40px;
	opacity: 0;
	box-sizing: border-box;
	/* display: none; */
}
/* .main {
	width: 64%;
	height: 66%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 9px 14px 17px 5px rgba(0,0,0,0.3)
} */
/* .musiccard{
	position: absolute;
	width: 450px;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.musiccard .poster{
	width: 420px;
	height: 420px;
	position:absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	border: 20px solid var(--color8);
	border-radius: 40px;
	background: var(--poster);
	background-size: 110%;
	background-position: 60% 50%;
	transition: border 1.5s cubic-bezier(0.71,0.12,0.34,0.97)
	
} */